.main {
  width: calc(100vw - 300px);
  &__header {
    height: 97px;
    padding: 0 40px;
    border-bottom: solid #eeeeee;
    @include space-between();
    &__group__info {
      padding-top: 35px;
      &__name {
        @include font-setting(#333333,20px,normal);
      }
      &__members {
        @include font-setting(#999999,12px,normal);
        padding-top: 15px;
      }
    }
    &__edit-btn {
      height: 40px;
      margin: 28px 0;
      padding: 0 20px;
      border: solid #38aef0;
      display: flex;
      align-items: center;
      &__text{
        color: #38aef0;
        text-decoration: none;
      }
    }
  }
  &__messages {
    overflow: scroll;
    padding: 0 40px;
    height:  calc(100vh - 190px);
    &__box {
      padding-top: 46px;
      &__info {
        padding-bottom: 10px;
        display: flex;
        &__user-name {
          @include font-setting(#434A54,16px,bold);
          padding-right: 10px;
        }
        &__creat-at {
          @include font-setting(#999999,12px,normal);
        }
      }
      &__text {
        @include font-setting(#434A54,14px,normal);
      }
    }
  }
  &__form {
    z-index: 1;
    @include square-setting(90px,100%,#DDDDDD);
    box-sizing: border-box;
    padding: 20px 40px 20px 40px;
    &__box {
      @include square-setting(50px,calc(100% - 107px),null);
      margin-right: 0;
      position: relative;
      float: left;
      &__message {
        @include square-setting(50px,calc(100% - 50px),null);
        border: none;
        float: left;
        padding-left: 10px;
        padding-right: 40px;
      }
      &__mask {
        position: absolute;
        right: 10px;
        &__image {
          font-size: 20px;
          line-height: 50px;
          &__file-select-btn {
            display: none;
          }
        }
      }
    }
    &__send-btn {
      @include square-setting(50px,null,#38AEF0);
      @include font-setting(#FFFFFF,16px,normal);
      border: none;
      float: left;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}